<header class="flex">
    <div class="logo">
        <a href="#"><span class="red">{</span> ProCode <span class="red">}</span></a>
    </div>

    <nav>
        <ul class="flex">
            <li><a href="#about-us">О нас</a></li>
            <li><a href="#nash-podhod">Наш подход</a></li>
            <li><a href="#">Методика</a></li>
            <li><a href="#courses">Курсы</a></li>
            <li><a href="#map">Контакты</a></li>
        </ul>
    </nav>

    <div class="phone"><i class="fa fa-phone-square" aria-hidden="true"></i> <span>(093) 486 12 75</span></div>
</header>