<section class="procodeIs center">
    <h3> ProCode - это </h3>
    <ul class="benefits flex">
        <li>
				<span>
					<i class="fa fa-users fa-4x" aria-hidden="true"></i>
				</span>
            <p>
                Практикующие преподаватели
            </p>
        </li>
        <li>
				<span>
					<i class="fa fa-users fa-4x" aria-hidden="true"></i>
				</span>
            <p>
                Индивидуальный подход
            </p>
        </li>
        <li>
				<span>
					<i class="fa fa-users fa-4x" aria-hidden="true"></i>
				</span>
            <p>
                Больше практики, меньше теории
            </p>
        </li>
        <li>
				<span>
					<i class="fa fa-film fa-4x" aria-hidden="true"></i>
				</span>
            <p>
                Видеозапись уроков
            </p>
        </li>
        <li>
				<span>
					<i class="fa fa-graduation-cap fa-4x" aria-hidden="true"></i>
				</span>
            <p>
                Дополнительные занятия по субботам
            </p>
        </li>
        <li>
				<span>
					<i class="fa fa-users fa-4x" aria-hidden="true"></i>
				</span>
            <p>
                Комьюнити единомышленников
            </p>
        </li>
        <li>
				<span>
					<i class="fa fa-users fa-4x" aria-hidden="true"></i>
				</span>
            <p>
                Фидбэк от преподавателя
            </p>
        </li>
        <li>
				<span>
					<i class="fa fa-users fa-4x" aria-hidden="true"></i>
				</span>
            <p>
                100% полезного контента
            </p>
        </li>
    </ul>
</section>