@font-face {
  font-family: 'PF Din Text Comp Pro XBlack';
  src: url('../fonts/PFDinTextCompPro-XBlack.eot');
  src: url('../fonts/PFDinTextCompPro-XBlack.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PFDinTextCompPro-XBlack.woff') format('woff'),
  url('../fonts/PFDinTextCompPro-XBlack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'PF Din Text Comp Pro';
  src: url('../fonts/PFDinTextCompPro-Bold.eot');
  src: url('../fonts/PFDinTextCompPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PFDinTextCompPro-Bold.woff') format('woff'),
  url('../fonts/PFDinTextCompPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PF Din Text Comp Pro';
  src: url('../fonts/PFDinTextCompPro-Medium.eot');
  src: url('../fonts/PFDinTextCompPro-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PFDinTextCompPro-Medium.woff') format('woff'),
  url('../fonts/PFDinTextCompPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'PF Din Text Comp Pro';
  src: url('../fonts/PFDinTextCompPro-Regular.eot');
  src: url('../fonts/PFDinTextCompPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PFDinTextCompPro-Regular.woff') format('woff'),
  url('../fonts/PFDinTextCompPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PF Din Text Comp Pro X';
  src: url('../fonts/PFDinTextCompPro-XThin.eot');
  src: url('../fonts/PFDinTextCompPro-XThin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PFDinTextCompPro-XThin.woff') format('woff'),
  url('../fonts/PFDinTextCompPro-XThin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}